.example-spacer {
    flex: 1 1 auto;
  }

.toolbar-row{
    display: flex;
}

.body-app {
    background-color: rgb(197, 197, 197);
}

.button1{
    display: flex;
    justify-content: space-evenly;
}

.card-projetos{
    display: flex;
    justify-content: space-evenly;
}